.mybox{
    display: inline-block;
    position: relative;

    width: 140px;
    height: 140px;
    background-color: rgb(226, 192, 192);
}

.mybox .letter{
    text-align: center;
    font-size: 96px;
    color: black;
    
}

.spodersquares{
    text-align: center;
    position: relative;
    margin-top: 5%;
}

.column-left{
    width: 20%;
    text-align: center;
}
.column-left.bl{    /*bottom left column (upcoming events)*/
    border-top-style: solid;
    border-top-color: black;
    border-right-style: solid;
    border-right-color: black;
}

.column-main{
    width: 80%;
    
    text-align: center;

}



/*.column{
    float: left;*/
    /*margin-top: 1%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
/*
.column.left{
    width: 20%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-right-style: solid;
    border-right-color: black;
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
}

.column.main{
    width: 80%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top-style: solid;
    border-top-color: black;
    text-align: center;

}

@media screen and (max-width: 600px) {
    .column.left, .column.main {
        width: 100%;
    }
}*/

