<form ng-controller="authController" ng-submit="register()">
    <div class="container">
      <h1>Register</h1>
      <p>Please complete this form to create an account.</p>
      <hr>
      <h4 class="errorMsg">{{registerError}}</h4>
      <label><b>Email</b></label>
      <input type="text" ng-model="newUser.email" placeholder="Enter Email" name="email" required>

      <br><label><b>Password</b></label>
      <input type="password" ng-model="newUser.password" placeholder="Enter Password" name="psw" required>

      <br><label><b>Confirm Password</b></label>
      <input type="password" ng-model="newUser.pswCheck" placeholder="Repeat Password" name="psw-repeat" required>
      <!-- Name and organization are nonfunctional until the user schema is altered-->
      <br><label><b>Name</b></label>
      <input type="text" ng-model="newUser.name" placeholder="Enter Your Name">

      <br><label><b>Organization</b></label>
      <input type="text" ng-model="newUser.organization" placeholder="Enter Organization">

      <hr>
      <p>By creating an account you agree to our <a href="termsandconditions" target="_blank">Terms & Conditions</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
</form>

<div class="container signin">
  <br>
    <p>Already have an account? <br> <br><button class="submit" onclick="document.getElementById('signin-modal').style.display='block'">Sign in</button></p>
  </div>