<div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
          <div class="container"> 
              <h3>Account details</h3>
              <hr>
            <button type="button" ng-click="canEdit = !canEdit" class="btn btn-primary edit-btn">Edit Info</button>
            <form ng-controller="authController"  ng-submit="update()">
            <label id="name-label" for="name">Name</label>
            <input ng-model="updatedUser.name" ng-readonly="!canEdit" class="form-control form-control-lg" id="name" type="text" placeholder="{{currentUser.name}}">
            
            <label for="email">Email</label>
            <input ng-model="updatedUser.email" ng-readonly="!canEdit" class="form-control form-control-lg" id="email" type="text" placeholder="{{currentUser.email}}">
            
            <label for="organization">Organization</label>
            <input ng-model="updatedUser.organization" ng-readonly="!canEdit" class="form-control form-control-lg mb-3" id="organization" type="text" placeholder="{{currentUser.organization}}">
            <button type="submit" ng-show="canEdit" class="btn btn-success mb-3">Update Account</button>
          </form>

            <h3>Change password</h3>
            <hr>
            <form  class="form-inline" ng-controller="authController" ng-submit="changePsw()">
              <input required ng-model="updatedUser.oldPassword" class="form-control form-control-lg" id="currentpsw" type="password" placeholder="Current password">
              <div class="mx-4"></div>
              <input required ng-model="updatedUser.newPassword" class="form-control form-control-lg" id="newpsw" type="password" placeholder="New password">
              <div class="mx-4"></div>
              <button class="btn btn-success btn-lg" type="submit">Change password</button>
            </form>
          </div>
</div>