<!-- <form ng-controller="authController" ng-submit="login()">

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required  ng-model="login.user.email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required ng-model="login.user.password">

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</form> -->


<!-- 
  <div class="container" style="background-color:#f1f1f1">
	<span class="register">To create an account, click <a href="createacct">here.</a></span>
    <br><span class="psw"><a href="resetpsw">Forgot password?</a></span>
  </div> -->
  
