<div class="container">
    <h2>Member</h2>
    <hr>
    <div>
    <i ng-click="goBack()" class="fas fa-long-arrow-alt-left fa-4x back-arrow"
    data-toggle="tooltip" data-placement="right" title="Go Back"></i>
    </div>
        <div id="focus-user-container">
                <div id="focus-user-gen"><b>General User Information:</b></div>

                <label id="name-label" for="name">Name</label>
                <div ng-readonly="!canEdit" class="form-control form-control-lg" id="name" type="text" placeholder="">{{focusUser.name}}</div>

                <label id="name-label" for="org">Organization</label>
                <div ng-readonly="!canEdit" class="form-control form-control-lg" id="org" type="text" placeholder="">{{focusUser.organization}}</div>

                <label id="name-label" for="email">Email</label> 
                <button id="focus-user-copyemail"class="btn btn-default btn-xs" ngclipboard data-clipboard-target="#email"
                    data-toggle="tooltip" data-placement="right" title="Copy Email!"
                    onmouseenter="$(this).tooltip('show')">
                    <i  class="fas fa-envelope fa-1x"></i>
                </button>
                <div ng-readonly="!canEdit" class="form-control form-control-lg" id="email" type="text" placeholder="">{{focusUser.email}}</div>
        <hr>
        <h2><b>Program Requests:</b></h2>
        <div id="focus-user-req" ng-repeat="programReq in focusUser.programReqs">
            <span>Subject: {{programReq.subject}}</span>
            <hr>
        </div>
        <h2><b>Events:</b></h2>
        <div class="tableWrapper table-row">
                <table class="table table-hover">
                  <tr>
                    <th>Request Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                  <tr ng-repeat="eventReq in currentUser.eventReqs | filter : query" class ="tbl-dropdown">
                    <td>{{eventReq.title}}</td>
                    <td>{{eventReq.startTime}}</td>
                    <td>{{eventReq.endTime}}</td>
                  </tr>
                </table>
              </div>

    </div>
</div>
