<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>
	
<!--will not work due to page routing?-->
<!--	<a href="./documents/SPODERtest.PDF" download>
        <img src="./images/pdficon.png" width="75" height="75">
	</a>
	<a href="./documents/SPODERtest.docx" download>
		<img src="./images/wordicon.jpg" width="75" height="75">
	</a>
-->

<!--works, but somehow files are corrupted when downloaded. html page by itself (no web server) works fine.
	<a target="_self" href="./documents/SPODERtest.docx" download>
		<img src="images/wordicon.jpg" width="75" height="75">
	</a>
	
	<a target="_self" href="./documents/SPODERtest.PDF" download>
		<img src="/images/pdficon.png" width="75" height="75">
	</a>
	
	<br></br>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/gGruZGY4Gvk">
	</iframe>
-->

	<!--													   , 'color of choice)">Documents</button> -->
	<script>
	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	</script>
	
	<button class="tablink" onclick="openPage('Videos', this)" id="defaultOpen">Videos</button>
	<button class="tablink" onclick="openPage('Documents', this)">Documents</button>
	

	<div id="Documents" class="tabcontent">
		<iframe src="https://drive.google.com/embeddedfolderview?id=1GmIEOv6DT92DIpFFYNOtFytxWJ2koS0c#grid" width="600" height="500" frameborder="0"></iframe>
	</div>

	<div id="Videos" class="tabcontent">
		<button style="margin-top: 5%" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addVideoModal" >Add Video</button>
			<div id="addVideoModal" class="modal fade req-modal" role="dialog">
				<form class="modal-dialog" ng-controller="addVideoController" ng-submit="submitRequest()" >
					<!-- Modal content-->
					<h5>Add Video: </h5> 
                    <div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body">
							<h6><font color="black">Video Title</font></h6>
							<input type="text" placeholder="Enter Video Title" name="videotitle" required ng-model="video.title">

							<div class="req-moveup">
								<h6><font color="black">Video Description</font></h6>
								<textarea class="textarea-req" type="text" placeholder="Enter Video Description" name="videodesc" required ng-model="video.description"></textarea>

								<h6><font color="black">Video Tags</font></h6>
								<input type="text" value="" data-role="tagsinput" id="tags" class="form-control">

								<h6><font color="black">Video URL</font></h6>
								<input type="text" placeholder="Enter Video URL" name="videourl" required ng-model="video.url">

							</div>
						
							<button type="submit" class="signup fullwidth">Submit Request</button>
						</div>
                       
					</div>
                  
                </form>
            </div>         
		<div class="video-grid">
			<div class="video-item">
				<div class="video-wrap">
					<iframe src="https://www.youtube.com/embed/gGruZGY4Gvk" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<div class="video-item">
				<div class="video-wrap">
					<iframe src="https://www.youtube.com/embed/JGHWVAN_yQg" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<div class="video-item">
				<div class="video-wrap">
					<iframe src="https://www.youtube.com/embed/CzwGcARRVok" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			
			<div class="video-item">
				<div class="video-wrap">
					<iframe src="https://www.youtube.com/embed/SYMi1QCzQEY" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			
			<div class="video-item">
				<div class="video-wrap">
					<iframe src="https://www.youtube.com/embed/3dW-6iJSqQI" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			
			<div class="video-item">
				<div class="video-wrap">
					<iframe src="https://www.youtube.com/embed/ZnWXtjQOxx0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
		
		<!--If admin hits the google drive storage maximum of 15 GB, can use youtube playlists. -->
		<iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=PLbB_N7nmMobFLAITkcnjo6BONo3TpgCrc" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		
		<iframe src="https://drive.google.com/embeddedfolderview?id=1FVsWnqDxYR5zit834cEkheNdZnmAC0Jc#grid" width="600" height="500" frameborder="0"></iframe>

	</div>
	
	
	
	

	
  </body>
  
</html>
